/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require gallery-materialize
 *= require prism
 *= require_tree .
 *= require_self
 */
 .flex-align {
   display: flex;
   justify-content: space-between;

   &.flex-start {
     justify-content: flex-start !important;
   }
 }

 .card {
   width: 100%;
   &.page-card > .card-content {
    min-height: calc(100vh - 176px);
   }
 }

.nav-wrapper ul li a.disabled {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}
