// Place all the styles related to the comics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#comic-file-upload-dropzone {
  .dropzone {
    padding: 10em 0px;
    width: 100%;
    cursor: pointer;
    text-align: center;
    background: image-url("skulls.png");
    transition: padding 0.4s;
    height: calc(100% - 465px);

    .material-icons {
      font-size: 7em;
      opacity: 0.5;
    }
    p {
      font-size: 1.2em;
      text-align: center;
      color: #666;
    }
  }
  input {
    visibility: hidden;
  }
  &.uploading {
    cursor: not-allowed;
    opacity: 0.3;
  }
  &.uploaded {
    display: none;
  }
}

#new_comic .card {
  .card-content {
    position: relative;
    overflow: hidden;
  }
}

#more-images {
  opacity: 0;
  transition: opacity 0.5s;
  &.uploaded {
    opacity: 1;
  }
}
