// Place all the styles related to the comics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_comic, .edit_comic {
  margin-top: 40px;
  input[type="file"] {
    visibility: hidden;
    width: 1;
    height: 1;
  }
}

#more-images {
  &.initial {
    position: inherit;
    text-align: center;
  }
}

#delete-images-button, #more-images {
  transform: scale(0);
  transition: all 0.2s ease;
  &.show {
    transform: scale(1);
  }
}

.full-screen-carousel {
  // display: none;
  visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1;
  background: #000;
  .carousel-item {
    width: auto;
  }
  .carousel, .carousel-item, img {
    height: 100vh;
  }
  &.active {
    visibility: visible;
    z-index: 2000;
  }
}
